@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-center">Edit Category</h2>
            <hr />
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Name" class="col-6 p-0 text-center"></label>
            <input asp-for="Name" class="col-6 border-light-subtle" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="DisplayOrder" class="col-6 p-0 text-center"></label>
            <input asp-for="DisplayOrder" class="col-6 border-light-subtle" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row col-12 justify-content-center">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back to Category</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @* partial view for validation *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}