@model List<Product>


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-end">
                    <a asp-controller="Product" asp-action="AddUpdateProduct" class="btn btn-primary">
                        <i class="fa-solid fa-circle-plus"></i> Add New Product</i>
                    </a>
                </div>
            </div>
            <table id='tableData' class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
 
@section Scripts {
    <script src="~/js/product.js"></script>
} 