@model int

<div class="container">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">"Order Placed Successfully!"</h1>
        Your Order Number is : @Model <br></br>
        <img src="~/images/lawn_leaf.jpg" height="50%" width="45%" onerror="this.src='https://placehold.co/600x400';" alt="Fallback Image" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
            Your Order has been placed successfully!
        <br/>
    </div>
</div>